* {box-sizing:border-box}

var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 100); // Change image every 2 seconds
}

/* Slideshow container */
.slideshow-container {
  max-width: 45vw;
  position: relative;
  margin: auto;
  top: -110px;
  left: -2vw;
  z-index: 1;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 45vw;
  z-index: 1

}
.imgslide{
  width: inherit;
  z-index: 1
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background: rgba(255, 255, 255, 0);
  border: 2px white solid;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dots{
  position: relative;
  top: -160px;
  z-index: 1

}
.active, .dot:hover {
  background-color: white;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
